@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 32 79% 82%;
    --foreground: 180 8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 88 16% 62%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 180 8% 10%;
    --primary-foreground: 32 79% 82%;
    --secondary: 32 88% 66%;
    --secondary-foreground: 32 79% 82%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 32 88% 66%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 8% 10%;
    --input: 88 16% 62%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
  h5,
  h6,
  a,
  button {
    @apply font-subHeading;
  }
  p {
    @apply font-paragraph;
  }
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.footer {
  background-image: url("../assets/images/blob-line-three.png"),
    url("../assets/images/sprinkles-four.png");
  background-repeat: no-repeat;
  background-size: 44%, 38%;
  background-position: 48% 135%, 140% 0%;
}

@media (min-width: 1280px) {
  .footer {
    background-position: 55% 215%, 107% 0%;
    background-size: 13%, 9%;
  }
}

.contact__section {
  background-image: url("../assets/images/sprinkles-two.png"),
    url("../assets/images/blob-two.png"),
    url("../assets/images/blob-line-nine.png");
  background-repeat: no-repeat;
  background-size: 24%, 74%, 67%;
  background-position: 100% 8%, 100% 9%, 38% 5%;
}

@media (min-width: 1280px) {
  .contact__section {
    background-image: url("../assets/images/blob-line-nine.png"),
      url("../assets/images/sprinkles-two.png"),
      url("../assets/images/blob-two.png");
    background-size: 19%, 9%, 36%;
    background-position: 19% 13%, 39% 21%, 15% 35%;
  }
}

.process_section {
  background-image: url("../assets/images/sprinkles-three.png"),
    url("../assets/images/blob-line-seven.png"),
    url("../assets/images/blob-line-eight.png");
  background-repeat: no-repeat;
  background-size: 43%, 79%, 81%;
  background-position: 111% 110%, -61% -36%, 246% 119%;
}

@media (min-width: 1280px) {
  .process_section {
    background-size: 8%, 15%, 18%;
    background-position: 103% 82%, -3% 35%, 109% 85%;
  }
}

.story_section {
  background-image: url("../assets/images/sprinkles-three.png"),
    url("../assets/images/blob-line-five.png"),
    url("../assets/images/blob-line-six.png");
  background-repeat: no-repeat;
  background-size: 28%, 73%, 70%;
  background-position: 8% 13%, 170% -20%, 36% 126%;
}

@media (min-width: 1280px) {
  .story_section {
    background-size: 8%, 20%, 19%;
    background-position: 7% 14%, 103% -33%, 54% 134%;
  }
}

.special_image {
  background-image: url("../assets/images/sprinkles-two.png"),
    url("../assets/images/blob-two.png");
  background-repeat: no-repeat;
  background-size: 24%, 98%;
  background-position: 82% 9%, 11% 48%;
}

@media (min-width: 1280px) {
  .special_image {
    background-image: url("../assets/images/sprinkles-two.png"),
      url("../assets/images/blob-two.png");
    background-repeat: no-repeat;
    background-size: 24%, 74%;
    background-position: 83% 5%, 89% 98%;
  }
}

.navbar_section {
  background-image: url("../assets/images/blob-line-one.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 65% 225%;
}

.home_hero_section {
  background-image: url("../assets/images/blob-line-three.png"),
    url("../assets/images/blob-line-four.png"),
    url("../assets/images/sprinkles.png"),
    url("../assets/images/cake-basket-with-cream-and-lemon.webp"),
    url("../assets/images/blob-line-two.png"),
    url("../assets/images/blob-one.png");
  background-repeat: no-repeat;
  background-size: 70%, 70%, 30%, 70%, 70%, 70%;
  background-position: 64% 156%, 44% -44%, 15% 12%, 11% 0%, 97% 7%, 23% 18%;
}

@media (min-width: 1280px) {
  .home_hero_section {
    background-size: 14%, 19%, 10%, 26%, 23%, 25%;
    background-position: 113% 50%, 53% 112%, 58% 12%, 68% -6%, 83% 11%, 66% 30%;
  }
}

.products_page {
  background-image: url("../assets/images/blob-line-nine.png"),
    url("../assets/images/blob-two.png"),
    url("../assets/images/sprinkles-two.png"),
    url("../assets/images/blob-line-three.png"),
    url("../assets/images/blob-line-one.png");
  background-repeat: no-repeat;
  background-size: 24%, 26%, 8%, 16%, 18%;
  background-position: 70% 17%, 59% 36%, 14% 16%, 97% 73%, 27% 92%;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  display: flex !important;
  align-items: stretch !important;
}

.swiper-slide {
  display: flex !important;
  height: auto !important;
}

@media (min-width: 1280px) {
  .scale_card {
    transform: scale(1.1) !important;
    z-index: 10;
  }
}

.image_gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 31%,
    rgba(0, 0, 0, 0.5) 72%
  );
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #b79f83 !important;
}
